<div class="container">
  <div id="my-account">
    <div class="row">
      <div id="center_column" class="center_column col-xs-12 col-sm-12">
        <% if !user_signed_in? %>

            <%= render 'login' %>
        <% else %>

            <h1 class="page-heading">Моя учетная запись</h1>

            <p class="info-account" style="text-align: center">Добро пожаловать в вашу учетную запись. Здесь вы можете
              управлять личными данными и заказами.</p>

            <div class="row addresses-lists">
              <div class="col-xs-12 col-sm-6 col-lg-6">
                <ul class="myaccount-link-list">
                  <li><%= link_to order_history_orders_path do %>
                        <i class="icon-list-ol"></i><span>Мои заказы</span>
                    <% end %>
                  </li>
                  <li><%= link_to user_addresses_addresses_path do %>
                        <i class="fa fa-building-o"></i><span>Мои адреса</span>
                    <% end %>
                  </li>
                  <li><a href="/" title="Информация"><i class="icon-user"></i><span>Моя информация</span></a>
                  </li>
                </ul>
              </div>
              <div class="col-xs-12 col-sm-6 col-lg-6">
                <ul class="myaccount-link-list">

                  <!-- MODULE WishList -->
                  <li class="lnk_wishlist">
                    <a href="/" title="Моё избранное">
                      <i class="icon-heart"></i>
                      <span>Моё избранное</span>
                    </a>
                  </li>
                  <!-- END : MODULE WishList -->
                  <li class="mailalerts">
                    <a href="/" title="Мои оповещения" rel="nofollow">
                      <i class="icon-envelope"></i>
                      <span>Мои оповещения</span>
                    </a>
                  </li>

                </ul>
              </div>
            </div>
            <ul class="footer_links clearfix">
              <li>
                <a class="btn btn-default button button-small" href="/" title="Главная"><span><i class="icon-chevron-left"></i> Главная</span></a>
              </li>
            </ul>
        <% end %>
      </div>
      <!-- #center_column -->

    </div>
  </div>
</div>