<div class="row">

  <div class="col-md-3"></div>

  <div class="col-md-3">
    <h2><%= t('.our_contacts') %></h2>
    <p><%= display_phone %></p>
    <p><%= display_email %></p>
    <p><%= t('.address') %></p>
  </div>

  <div class="col-md-6">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2562.919127487383!2d36.22196459999999!3d50.0316112!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x4127a14aa1c825fb%3A0x5bc05fcc065de7be!2z0L_RgNC-0YHQvy4g0JvQtdC90ZbQvdCwLCA1Niwg0KXQsNGA0LrRltCyLCDQpdCw0YDQutGW0LLRgdGM0LrQsCDQvtCx0LvQsNGB0YLRjCwgNjEwMDA!5e0!3m2!1sru!2sua!4v1440583882162" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
  </div>

</div>
