<div class="container">
  <h4 class="text-left">
    Для вашего удобства мы предлагаем доставку и самовывоз автомобилей, приобретенных у нас.
  </h4>
  <h3 class="text-left">
    Доставка автомобилей осуществляется:
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="/assets/payment_delivery/384.jpg" alt="..." class="center-block">
        <h3>
          Уже в течении часа после оформления заказа его можно забрать в нашем автосалоне
        </h3>
      </div>
      <div class="col-sm-6 text-center">
	      <img src="/assets/payment_delivery/386.jpg" alt="..." class="center-block">
        <h3>
          Ежедневно, без выходных, в любое удобное для Вас время в рамках рабочих часов автосалона
        </h3>
      </div>
    </div>
    <ul>
        <li><h4>—во время подтверждения заказа оператор сообщит наличие автомобиля в автосалоне;</h4></li>
        <li><h4>—если вы хотите забрать автомобиль самовывозом, а такого в данный момент нет в наличии в автосалоне, то он может быть доставлен в любое удобное для вас место;</h4></li>
    </ul>
  </div>
  <h3 class="text-left">
    Автомобиль оплачивается:
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/47.png" alt="..." class="center-block">
        <h3>
          Наличными в автосалоне при получении автомобиля
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/52.png" alt="..." class="center-block">
        <h3>
          По безналичному расчету в кассе отделения любого банка или с расчетного счета вашей фирмы
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/42.png" alt="..." class="center-block">
        <h3>
          Любой картой Visa и MasterCard любого банка
        </h3>
      </div>
    </div>
  </div>
</div>
