<div class="container">
  <h4 class="text-left">
    Для вашего удобства мы предлагаем доставку и самовывоз товаров, приобретенных у нас.
  </h4>
  <h3 class="text-left">
    Доставка товара осуществляется:
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-6 text-center">
        <img src="/assets/payment_delivery/384.jpg" alt="..." class="center-block">
        <h3>
          Уже в течении часа после оформления заказа его можно забрать в нашем магазине
        </h3>
      </div>
      <div class="col-sm-6 text-center">
	      <img src="/assets/payment_delivery/386.jpg" alt="..." class="center-block">
        <h3>
          Ежедневно, без выходных, в любое удобное для Вас время в рамках рабочих часов магазина
        </h3>
      </div>
    </div>
    <ul>
        <li><h4>—во время подтверждения заказа оператор сообщит наличие товара в магазине;</h4></li>
        <li><h4>—если вы хотите забрать товар самовывозом, а такого товара в данный момент в магазине нет, товар может быть доставлен в любое удобное для вас место;</h4></li>
    </ul>
  </div>
  <h3 class="text-left">
    Товар оплачивается:
  </h3>
  <div class="container">
    <div class="row">
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/42.png" alt="..." class="center-block">
        <h3>
          Наличными в магазине при получении товара
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/47.png" alt="..." class="center-block">
        <h3>
          По безналичному расчету в кассе отделения любого банка или с расчетного счета Вашей фирмы
        </h3>
      </div>
      <div class="col-sm-4 text-center">
        <img src="/assets/payment_delivery/52.png" alt="..." class="center-block">
        <h3>
          Любой картой Visa и MasterCard любого банка
        </h3>
      </div>
    </div>
  </div>
</div>
